table {   
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}
a{
	text-decoration: none;
}
th{
	border-bottom:1px solid gray;
	background:#ff0000;
	margin-bottom: 22px;
	padding:10px;
	color: #FFFFFF;
	text-align:left;
}

td {
	border-top:1px solid #000000;
	background:#D2DEEF;
	text-align:left;
}
 
tr {
	border-top:1px solid #000000;
	background:none repeat scroll 0 0 #EAEFF7;
	text-align:left;
}table, th, td {
    border: 1px solid black;
}